.main {
  min-height: 100vh;
}

.section {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 10px;
}

.block {
  height: 200px;
  border: 1px solid #000000;
}

.block-1 {
  background-color: #e8b2b2;
  flex: 0 1 20%;
}

.block-2 {
  background-color: #e8d4b2;
  flex: 0 1 76%;
}

.block-3 {
  background-color: #e7e8b2;
  flex: 0 1 98%;
  
}

.block-4 {
  background-color: #bce8b2;
  flex: 0 1 35%;
}

.block-5 {
  background-color: #b2e8e8;
  flex: 0 1 35%;
}

.block-6 {
  background-color: #b2bee8;
  flex: 0 1 24%;
}

.block-7 {
  background-color: #e7b2e8;
  flex: 0 1 80%; 
  gap: 10%;
}
